.banner {
    .container {
        overflow-x: hidden;
        height: 518px;
        background-image: url("../images/event/13.jpg");
        background-position: center;
        background-size: 100% 518px;
        background-repeat: no-repeat;

        color: $white
    }

}