<div class="header border-bottom border-3 border-dark ">
    <div class="container d-flex pe-0
     py-25 align-items-center">
        <a href="index.html" class="me-48 
        align-items-center d-flex logoLink"><img src="../assets/images/logo.png" alt="logo.png" class="logo me-16">
            <div class="d-none d-lg-flex align-items-center"><h1 class="fs-32   me-4">7TAO</h1><span class="fw-bold">活動訂票網</span>
            </div>
        </a>

        <div class="search d-flex me-auto">
            <input type="text" name="search" id="search" class="text-secondary m-0 h-100 w-100" placeholder="探索活動">
            <i class="icofont-search-1 text-white bg-dark d-flex justify-content-center align-items-center"></i>
        </div>

        <div class="nav">
            <ul class="fs-18 d-none d-md-flex">
                <li><a href="register.html" class="navLink d-flex align-items-center me-24 py-16"><i class="icofont-ui-file me-8 "></i><span >REGISTER</span></a></li>
                <li><a href="login.html" class="navLink d-flex align-items-center py-16"><span><i class="icofont-ui-user me-8"></i></span><span>LOGIN</span></a></li>
            </ul>
        </div>


        <nav class="navbar navbar-expand-lg navbar-light bg-light d-block d-md-none p-0 m-0">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

            </div>
          </nav>

        

    </div>
</div>