<div class="collapse navbar-collapse bg-main w-100" id="navbarSupportedContent">
    <div class="container">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 mt-24">
        <li class="mb-16"><a href="Register.html" class="navLink d-flex align-items-center"><span><i class="icofont-ui-file me-8"></span></i><span class=" fw-bold">REGISTER</span></a></li>
                <li><a href="login.html" class="navLink d-flex align-items-center"><span><i class="fa-solid fa-user me-8" style="width: 18px;height: 18px;"></i></span><span class="fw-normal fw-bold mb-16">LOGIN</span></a></li>
      </ul>
    </div>
</div>
