<nav aria-label="Page navigation mb-60">
    <div class="container d-flex justify-content-center">
        <ul class="pagination mb-60">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <i class="icofont-arrow-left"></i>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#" class="fw-bold">1</a></li>
            <li class="page-item"><a class="page-link active" href="#" class="fw-bold ">2</a></li>
            <li class="page-item"><a class="page-link" href="#" class="fw-bold">3</a></li>
            <li class="page-item"><a class="page-link" href="#" class="fw-bold">4</a></li>
            <li class="page-item"><a class="page-link" href="#" class="fw-bold">5</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <i class="icofont-arrow-right"></i>
              </a>
            </li>
          </ul>
    </div>
</nav>