.modal-btn {
    background-color: $black !important;
    border: 0px;
    color: $yellow !important;
}

.modal-btn:hover {
    background-color: $black !important;
    color: $white !important;
}

.modal {
    h4 {
        font-family: 'Noto Serif TC', sans-serif;
    }
}

.btn-close {
    opacity: 1;
}