<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./layout/headLink'); -%>

    <title>首頁</title>
  </head>
  <body class="overflow-x-hidden">
    <%- include('./layout/header'); -%>
    <%- include('./layout/headerCollapse'); -%>


    <div class="banner pt-32" data-aos="fade-up">
        <div class="container d-flex flex-column ">
            <h1 class="fs-60  mb-auto m-48">19 MAY 2023</h1>
            <div class="title text-center w-50 mx-auto mb-24">
                <h3 class="fs-24">隔牆有耳-沒有草東的派對</h3>
                <p>你各位聽團仔們！每次想跟朋友一起聽草東專場卻每一次都搶不到票？「草東沒有派對」永遠都是「草東沒有門票」！ 帶上啤酒、野餐墊，讓我們在Live House外面一起開場「沒有草東的派對」吧！</p>
            </div>
        </div>
    </div>

    <div class="menu py-48 overflow-x-hidden" data-aos="fade-up">
      <div class="container fs-24 fs-xxl-16 fw-bold ps-0">
          <ul class="row row-cols-3 row-cols-lg-6 menuList d-flex justify-content-between h-100 ps-0">
            <li class="col menuItem mb-20">
              <a href="#" class="d-flex flex-column align-items-center w-100">
                <img src="../assets/images/cate01.svg" alt="ate01.svg">
                <h3>演出</h3>
              </a>
            </li>
            <li class="col menuItem mb-20">
              <a href="#" class="d-flex flex-column align-items-center">
                <img src="../assets/images/cate02.svg" alt="ate02.svg">
                <h3>聯誼</h3>
              </a>
            </li>
            <li class="col menuItem mb-20">
              <a href="#" class="d-flex flex-column align-items-center">
                <img src="../assets/images/cate03.svg" alt="ate03.svg">
                <h3>展覽</h3>
              </a>
            </li>
            <li class="col menuItem mb-20">
              <a href="#" class="d-flex flex-column align-items-center">
                <img src="../assets/images/cate04.svg" alt="ate04.svg">
                <h3>美食</h3>
              </a>
            </li>
            <li class="col menuItem mb-20">
              <a href="#" class="d-flex flex-column align-items-center">
                <img src="../assets/images/cate05.svg" alt="ate05.svg">
                <h3>戶外</h3>
              </a>
            </li>
            <li class="menuMore col pe-0 bg-dark mb-20">
              <a href="event.html">
                <h3 class="fs-48 text-yellow">探索<br>
                  更多</h3>
              </a>
            </li>
          </ul>
      </div>
    </div>

    <div class="titleBanner overflow-x-hidden" data-aos="fade-up">
      <div class="container d-flex border border-3 align-items-center">
          <h2 class="me-auto">RECENT</h2>
          <h3>近期活動</h3>
      </div>
    </div>

    <div class="event pt-32 pb-12 d-flex justify-content-center align-items-center">
      <ul class="row eventList container row-cols-1 row-cols-md-2 row-cols-lg-3 " data-aos="fade-up">
          <li class="col mb-48" data-aos="fade-up"><a href="eventBlog.html">
              <div class="eventCard border-0 h-100 d-flex flex-column">
                <h2 class="h2-lg mb-12 border-bottom border-3">19 MAY 2023</h2>
                <div class="eventImg overflow-hidden">
                  <img src="../assets/images/event/01.jpg" class="card-img-top img-hover" alt="01.jpg">
                </div>

                <div class="cardBody">
                  <h3 class="cardTitle fw-bold my-12">邪典電影派對——房間</h3>
                  <p class="cardText pb-16">你有聽說過「大災難家」裡面的主角 Tommy Wiseau 製作的「史上最爛的電影」——房間嗎？在美國甚至演變成一種邪教、一種派對的形式，在電影播放的對著螢幕丟湯匙都...</p>
                </div>

                <div class="groupCard border-top border-bottom fw-bold d-flex">
                    <a class="d-flex align-items-center hover-text-decoration me-auto"><img src="../assets/images/sparkler.png" alt="sparkler.png" style="width: 24px;height: 24px;" class="img-fluid"><h5>社群活動</h5>
                    </a>

                    <a href="#" class="d-flex align-items-center hover-bg-yellow" data-bs-toggle="modal" data-bs-target="*#onsaleModal"><span>開賣中</span><span class="material-symbols-outlined">
                      keyboard_double_arrow_right
                      </span>
                    </a>
                </div>
              </div>
            </a>
          </li>

          <li class="col mb-48" data-aos="fade-up"><a href="eventBlog.html">
            <div class="eventCard border-0 h-100 d-flex flex-column">
              <h2 class="h2-lg mb-12 border-bottom border-3">23 MAY 2023</h2>
              <div class="eventImg overflow-hidden">
                <img src="../assets/images/event/02.jpg" class="card-img-top img-hover" alt="02.jpg">
              </div>
              <div class="cardBody">
                <h3 class="cardTitle fw-bold my-12">怪舞俱樂部</h3>
                <p class="cardText pb-16">覺得自己的舞蹈細胞異於常人？每次隨著音樂起舞身邊的人總是露出無法理解的表情？來這裡就對了！來參加這場一起跳舞的聚會，也會在每一次的舞會中選出舞步最怪的...</p>
              </div>

              <div class="groupCard border-top border-bottom fw-bold d-flex mt-auto">
                  <a class="d-flex align-items-center hover-text-decoration me-auto"><img src="../assets/images/sparkler.png" alt="sparkler.png" style="width: 24px;height: 24px;" class="img-fluid"><h5>演出</h5>
                  </a>

                  <a href="#" class="d-flex align-items-center hover-bg-yellow" data-bs-toggle="modal" data-bs-target="*#onsaleModal"><span>檢視活動</span><span class="material-symbols-outlined">
                    keyboard_double_arrow_right
                    </span></a>
              </div>
            </div>
          </a>
          </li>

          <li class="col mb-48" data-aos="fade-up"><a href="eventBlog.html">
            <div class="eventCard border-0 h-100 d-flex flex-column">
              <h2 class="h2-lg mb-12 border-bottom border-3">30 MAY 2023</h2>
              <div class="eventImg overflow-hidden">
                <img src="../assets/images/event/03.jpg" class="card-img-top img-hover" alt="03.jpg">
              </div>
              <div class="cardBody">
                <h3 class="cardTitle fw-bold my-12">哈利波特馬拉松</h3>
                <p class="cardText pb-16">每次身邊有人開啟哈利波特的話題，自己永遠都是聽不懂的那個麻瓜？看大家在討論魁地奇、用咒語鬥法的時候，自己永遠是陪笑的那個人？穿好你的法袍、帶上你的法杖...</p>
              </div>

              <div class="groupCard border-top border-bottom fw-bold d-flex mt-auto" data-aos="fade-up">
                  <a class="d-flex align-items-center hover-text-decoration me-auto"><img src="../assets/images/sparkler.png" alt="sparkler.png" style="width: 24px;height: 24px;" class="img-fluid"><h5>聯誼</h5>
                  </a>

                  <a href="#" class="d-flex align-items-center hover-bg-yellow" data-bs-toggle="modal" data-bs-target="*#onsaleModal"><span>開賣中</span><span class="material-symbols-outlined">
                    keyboard_double_arrow_right
                    </span></a>
                  
              </div>
            </div>
          </a>
          </li>

          <li class="col mb-48" data-aos="fade-up"><a href="eventBlog.html">
            <div class="eventCard border-0 h-100 d-flex flex-column">
              <h2 class="h2-lg mb-12 border-bottom border-3">12 June 2023</h2>
              <div class="eventImg overflow-hidden">
                <img src="../assets/images/event/04.jpg" class="card-img-top img-hover" alt="04.jpg">
              </div>
              <div class="cardBody">
                <h3 class="cardTitle fw-bold my-12">皮卡丘排球大賽</h3>
                <p class="cardText pb-16">還記得小時候玩的小遊戲嗎？總是有朋友吹噓自己獨孤求敗、只求一敗？是時候該展現真正的實力了！本活動採用瑞士制賽程，以絕對公平的方式進行，是時候該證明自己...</p>
              </div>

              <div class="groupCard border-top border-bottom fw-bold d-flex mt-auto">
                  <a class="d-flex align-items-center hover-text-decoration me-auto"><img src="../assets/images/sparkler.png" alt="sparkler.png" style="width: 24px;height: 24px;" class="img-fluid"><h5>遊戲競賽</h5>
                  </a>

                  <a href="#" class="d-flex align-items-center hover-bg-yellow" data-bs-toggle="modal" data-bs-target="*#onsaleModal"><span>開賣中</span><span class="material-symbols-outlined">
                    keyboard_double_arrow_right
                    </span></a>

              </div>
            </div>
          </a>
          </li>

          <li class="col mb-48" data-aos="fade-up"><a href="eventBlog.html">
            <div class="eventCard border-0 h-100 d-flex flex-column">
              <h2 class="h2-lg mb-12 border-bottom border-3">25 June 2023</h2>
              <div class="eventImg overflow-hidden">
                <img src="../assets/images/event/05.jpg" class="card-img-top img-hover" alt="05.jpg">
              </div>
              <div class="cardBody">
                <h3 class="cardTitle fw-bold my-12">酒精路跑</h3>
                <p class="cardText pb-16">身邊總是有對自己酒量有高度自信的朋友嗎？拉著他/她一起來參加酒精路跑吧！一起拍下第一杯直到倒下為止的照片，一起喝遍市區內各家極具品味的酒吧。
                </p>
              </div>

              <div class="groupCard border-top border-bottom fw-bold d-flex mt-auto">
                  <a class="d-flex align-items-center hover-text-decoration me-auto"><img src="../assets/images/sparkler.png" alt="sparkler.png" style="width: 24px;height: 24px;" class="img-fluid"><h5 class="m-0 p-0">社群活動</h5>
                  </a>

                  <a href="#" class="d-flex align-items-center hover-bg-yellow" data-bs-toggle="modal" data-bs-target="*#onsaleModal"><span>開賣中</span><span class="material-symbols-outlined">
                    keyboard_double_arrow_right
                    </span></a>
        
              </div>
            </div>
          </a>
          </li>
          
          <li class="col mb-48" data-aos="fade-up"><a href="#">
            <div class="eventCard border-0 h-100 d-flex flex-column">
              <h2 class="h2-lg mb-12 border-bottom border-3">9 July 2023</h2>
              <div class="eventImg overflow-hidden">
                <img src="../assets/images/event/06.jpg" class="card-img-top img-hover" alt="06.jpg">
              </div>
              <div class="cardBody">
                <h3 class="cardTitle fw-bold my-12">展覽——我的房間</h3>
                <p class="cardText pb-16">每個人的房間總會有那麼一兩個能代表自己的物事，或許是再平凡不過的牙刷、馬克杯，或許有那些別人的房間從沒出現過的小東西——那些能定義自己的特別的東西。</p>
              </div>

              <div class="groupCard mt-auto border-top border-bottom fw-bold d-flex">
                  <a class="d-flex align-items-center hover-text-decoration me-auto"><img src="../assets/images/sparkler.png" alt="sparkler.png" style="width: 24px;height: 24px;" class="img-fluid"><h5>展覽</h5>
                  </a>

                  <a href="#" class="d-flex align-items-center hover-bg-yellow" data-bs-toggle="modal" data-bs-target="*#onsaleModal"><span>開賣中</span><span class="material-symbols-outlined">
                    keyboard_double_arrow_right
                    </span></a>

                  <%-include('./layout/modal');-%>
              </div>
            </div>
          </a>
          </li>             

      </ul>
    </div>

    <div class="titleBanner" data-aos="fade-up">
      <div class="container d-flex border border-3 align-items-center">
          <h2 class="me-auto">ONLINE</h2>
          <h3>線上活動</h3>
      </div>
    </div> 

    <div class="online d-flex p-0 m-0 mt-32 mb-60">
      <div class="container">
        <div class="row d-flex">
          <div class="col-12 col-lg-7 onlineContent overflow-hidden mb-16" data-aos="fade-left overflow-x-hidden"><img src="../assets/images/event/online.jpg" alt="online.jpg" class="test img-hover">
          </div>
          <div class="col-12 col-lg-5 onlineContent ps-24 d-flex flex-column" data-aos="fade-right ">
            <h3 class="mb-16">切特居批踢</h3>
            <div class="tag w-50 mb-32 d-flex flex-column w-100">
              <ul class="d-flex ps-4 w-100">
                <li class="tagItem me-8 mb-8"><a href="#" class="fw-bold">競賽</a></li>
                <li class="tagItem me-8 mb-8"><a href="#" class="fw-bold">科技</a></li>
                <li class="tagItem me-8 mb-8"><a href="#" class="fw-bold">有趣</a></li>
              </ul>
            </div>
            <p class="fs-14 fs-md-16 mb-32 me-auto">最近網路上很流行的AI程式 ChatGPT，可以用來聊天或是查詢、整理各種資料，不同的應用方式如雨後春筍般冒出來。 這個活動讓大家把自己最有特色的使用方法提出來讓大家參考，也會投票出最有趣的用法。 該讓其他人知道自己使用 ChatGPT 的姿勢才是最特別的那個了！</p>
            <a href="event.html" class="viewEventBtn btn btn-dark text-white w-100 py-8 mt-auto mb-0">查看活動詳情</a>
          </div>
        </div>
      </div>
    </div>  
    
    <div class="swiper mySwiper dividedBanner p-0 m-0 mb-60" data-aos="fade-up">
      <div class="swiper-wrapper">
        <div class="swiper-slide">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・</div>
        <div class="swiper-slide">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・</div>
      </div>
    </div>

    <div class="album mb-60">
      <div class="container">
        <ul class="row row-cols-1 row-cols-md-2 row-cols-lg-4 mt-60 list-unstyled albumList d-flex justify-content-center align-items-center">
          <li class="col albumItem mb-48">
            <div class="item border border-2 border-dark p-16 pb-48">
              <h5 class="bg-white px-16 py-8 fw-bold h5-transform">社群活動</h5>
              <div class="overflow-hidden"><img src="../assets/images/album/01.jpg" class="img-fluid w-100 mb-16 img-hover" alt="社群活動"></div>
              <h4>無聲派對-閉閉嘴dancing</h4>
            </div>
          </li>
          <li class="col albumItem mb-48">
            <div class="item border border-2 border-dark p-16 pb-48">
              <h5 class="bg-white px-16 py-8 fw-bold h5-transform">藝文活動</h5>
              <div class="overflow-hidden"><img src="../assets/images/album/02.jpg" class="img-fluid w-100 mb-16 img-hover" alt="藝文活動"></div>
              <h4>搶救老店大作戰</h4>
            </div>
          </li>
          <li class="col albumItem mb-48">
            <div class="item border border-2 border-dark p-16 pb-48">
              <h5 class="bg-white px-16 py-8 fw-bold h5-transform">自我覺察</h5>
              <div class="overflow-hidden"><img src="../assets/images/album/03.jpg" class="img-fluid w-100 mb-16 img-hover" alt="自我覺察"></div>
              <h4>內觀修行-部落篇</h4>
            </div>
          </li>
          <li class="col albumItem mb-48">
            <div class="item border border-2 border-dark p-16 pb-48">
              <h5 class="bg-white px-16 py-8 fw-bold h5-transform">聯誼活動</h5>
              <div class="overflow-hidden"><img src="../assets/images/album/04.jpg" class="img-fluid w-100 mb-16 img-hover" alt="聯誼活動"></div>
              <h4>賞櫻野餐</h4>
            </div>
          </li>
        </ul>
      </div>


    </div>

    <div class="swiper mySwiper2 dividedBanner mb-60" data-aos="fade-up">
      <div class="swiper-wrapper">
        <div class="swiper-slide">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・</div>
        <div class="swiper-slide">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・</div>
      </div>
    </div>

  <div class="contact mt-32 mb-60">
    <div class="container">
      <div class="row contactCards">
        <div class="col-12 col-md-6 contactItem pe-0">
          <div class="contactCard border">
            <div class="card-title border-bottom py-16 ps-32">
              <h3 class="fw-bold">#FOLLOW US</h3>
            </div>
            <div class="contactBody p-32">
              <p class="contactText mb-32">想第一時間獲得新奇有趣的活動資訊？<br>追蹤我們的社群吧！<br>也歡迎你聯繫我們，提供好玩有趣的活動企劃。</p>
              <ul class="m-0 p-0">
                <li class="mb-16 d-flex"><a href="#" class="d-flex">
                  <i class="icofont-ui-email"></i><span>7tao.event@gmail.com</span></a></li>
                <li class="mb-16"><a href="#" class="d-flex w-100 "><i class="icofont-phone"></i><span>09123123123</span></a></li>
                <li><a href="#" class="d-flex w-100"><i class="icofont-facebook"></i><span>7TAO七逃</span></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 contactItem m-0 p-0">
          <div class="contactCard border d-flex flex-column">
            <div class="card-title border-bottom py-16 ps-32">
              <h3 class="fw-bold">#SUBSCRIBE US</h3>
            </div>
            <div class="contactBody d-flex flex-column p-0 m-0">
              <div class="contactText p-32">
                <p class="mb-32">訂閱電子報送折價券！<br>
                  定期精選文章資訊及最新優惠資訊，<br>
                  還不通通給我訂閱起來？</p>
                <input type="email" name="email" id="email" class="border border-3 py-16 ps-16 w-100" placeholder="輸入Email">
              </div>
              <a href="#" class="subscribeBtn btn w-100 text-white bg-dark mt-auto d-flex justify-content-center align-items-content py-8"><span>確認訂閱</span><span class="material-symbols-outlined">
                keyboard_double_arrow_right
                </span></a>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>

    <div class="bannerFooter d-flex flex-column justify-content-center align-items-center py-60 border-top" data-aos="fade-up">
      <h2 class="fs-18 fs-sm-32 fw-bold mb-16">此刻打盹，你將做夢；此刻學習，你將圓夢</h2>
      <h4 class="fw-bold p-0 m-0 fs-14 fs-sm-18">——我也不知道誰說的</h4>
    </div>

    <%- include('./layout/footer'); -%>

    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script>

      const swiper = new Swiper(".mySwiper", {
        loop:true, 
        speed:30000,
        slidesPerView: "auto",
        spaceBetween:0,
        allowTouchMove:false,
        
        autoplay: {
        delay: 0,
        disableOnInteraction:false,
    
          //reverseDirection: true,
        },
      });

      const swiper2 = new Swiper(".mySwiper2", {
        loop:true, 
        speed:30000,
        slidesPerView: "auto",
        spaceBetween:0,
        allowTouchMove:false,
        
        autoplay: {
        delay: 0,
        disableOnInteraction:false,
        reverseDirection: true,
        },
      });

    </script>

    <script type="module" src="../main.js"></script>
    <%- include('./layout/aos'); -%>
  </body>
</html>
